#skills-container {
  padding-top: 15vh;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  overflow-x: hidden;
  background: white;
}

.skills-title {
  position: relative;
  font-size: 4rem;
  font-weight: 500;
  color: black;
  transform: scale(0);
  transition: all 1s ease;
}

#skills-container.animation .skills-title {
  transform: scale(1);
  text-transform: uppercase;
}
