#skills-container {
  padding-top: 15vh;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  overflow-x: hidden;
  background: white;
}

.skills-title {
  position: relative;
  font-size: 4rem;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
}

#skills-container.animation .skills-title {
  animation: title-grow 1.5s ease forwards;
}

@keyframes title-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
