:root {
  --color-primary: #4c0094;
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container label {
  color: white;
  margin: 0 10px;
}

.switch {
  position: relative;
  display: flex;
  cursor: pointer;
  width: min-content;
  padding: 5px;
  margin: 0%;
  top: 10px;
  height: 40px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

/* Hide default HTML checkbox */
.switch #menuBtn[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

#menuBtn[type="checkbox"]:checked ~ #menu {
  display: block;
}

#menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  width: max-content;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
}

#menu div {
  margin: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu label {
  color: black;
}

#keepVelocity[type="checkbox"] {
  margin: 0 10px;
  transform: scale(170%);
}

#particleNum[type="number"] {
  padding: 10px 0px 10px 10px;
  border-radius: 4px;
  border: 1px solid black;
  outline: none;
  margin-left: 10px;
}

#particleNum[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  margin: -10px 0px;
  padding: 10px;
}
